@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm())
{
    <p>
        <lable>Enter Your Name</lable>
        @Html.TextBox("username")
    </p>
    <p>
        <lable>Select Gender  </lable>
        @Html.RadioButton("gender","male","male") Male
        @Html.RadioButton("gender","female","female") Female
    </p>
    <p>
        <label>Select Hobbies</label>
        <input type="checkbox" name="hobbies" value="sports" /> Sports
        <input type="checkbox" name="hobbies" value="music" /> Music
    </p>
    <p>
        <label>Select City</label>
        @Html.DropDownList("cities")
    </p>
    <p>
        <label>Select City</label>
        @Html.ListBox("cities")
    </p>
    <p>
        <label>Your Comments</label>
        @Html.TextArea("comments")
    </p>
}
